# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# Variables de Entorno (¡Nunca subir secretos a GitHub!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación de Next.js
.next/
out/
build/

# Bases de datos y archivos locales
*.sqlite
*.sqlite3
postgres-data/
redis-data/

# Sistema Operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
